.asidePannelArea {
    width: calc(100% - 6.8rem);
    height: 100%;
}

.asidePannelArea .wrap {
    display: flex;
    width: 100%;
    height: 100%;
}

.asidePannelArea .asidePannelWrap {
    width: 25.8rem;
    border-right: 0.1rem solid #aaaaaa;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

.asidePannelArea .asidePannelWrap::-webkit-scrollbar {
    width: 0.8rem;
}

.asidePannelArea .asidePannelWrap::-webkit-scrollbar-thumb {
    height: 30%;
    background: #e7e9f3; 
    border-radius: 11rem;
}

.asidePannelArea .asidePannelWrap::-webkit-scrollbar-track {
    background: rgba(237, 237, 237, 0.1); 
}

.preview {
    position: relative;
    width: calc(100% - 25.8rem);
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #ddd;
    overflow: scroll;
}

.artboard {
    padding: 2rem;
    box-sizing: border-box;
    background-color: #fff;
}

.artboard.styleRound {
    background-color: #000;
}

.artboard.styleCircle  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.artboard.colorRed {
    background: red;
}
.artboard.colorOrange {
    background: orange;
}
.artboard.colorYellow {
    background: yellow;
}
.artboard.colorGreen {
    background: green;
}
.artboard.colorBlue {
    background: blue;
}
.artboard.colorPurple {
    background: purple;
}
.artboard.colorWhite {
    background: #fff;
}
.artboard.colorBlack {
    background: #000;
}
.artboard.colorGradient01 {
    background: linear-gradient( to top, rgb(255, 255, 194), rgb(255, 201, 201), rgb(255, 146, 168) );
}
.artboard.colorGradient02 {
    background: linear-gradient( to top, rgb(169, 255, 226), rgb(155, 190, 255), rgb(90, 140, 231) );
}
.artboard.colorGradient03 {
    background: linear-gradient( to top, rgb(255, 98, 179), rgb(199, 40, 193), rgb(114, 72, 252), rgb(72, 81, 252) );
}
.artboard.colorGradient04 {
    background: linear-gradient( to top, #fad961, #f76b1c );
}
.artboard.colorGradient05 {
    background: linear-gradient( to top, rgb(255, 217, 114), #7eedef, #06e2e6 );
}
.artboard.colorGradient06 {
    background: linear-gradient( to top, #ffd2e2, #96beff );
}


.artboardWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.artboard.styleBorder .artboardWrap {
    border: 0.1rem solid #000;
}

.artboard.styleBg .artboardWrap {
    background-color: rgba(0,0,0,0.2);
}

.artboard.styleRound .artboardWrap {
    border-radius: 3rem;
    background-color: #fff;
}

.artboard.styleCircle .artboardWrap {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}

.txtWrap {
    width: 100%;
}
.txtWrap .titleSubTextWrap {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}
.styleCircle .txtWrap .titleSubTextWrap{
    width: 100%;
}
.txtWrap .titleSubTextWrap.alignLeft {
    left: 0;
    transform: translate(0, -50%);
}
.txtWrap .titleSubTextWrap.alignCenter {
    left: 50%;
    transform: translate(-50%, -50%);
}
.txtWrap .titleSubTextWrap.alignRight {
    left: auto;
    right: 0;
    transform: translate(0, -50%);
}

.txtWrap h1 {
    padding: 0 2rem;
    box-sizing: border-box;
    font-size: 4.8rem;
    font-weight: normal;
    text-align: center;
}
.txtWrap h3 {
    width: fit-content;
    margin: 1rem auto 0;
    padding: 0 2rem;
    box-sizing: border-box;
    font-size: 2.4rem;
    font-weight: normal;
    text-align: center;
}
.txtWrap p {
    position: absolute;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    padding: 0 2rem;
    box-sizing: border-box;
    font-size: 1.6em;
    text-align: center;
}

.txtWrap .alignLeft {
    margin: 1rem 0 0;
    text-align: left;
}

.txtWrap p.alignLeft {
    left: 0;
    transform: translate(0);
}

.txtWrap .alignCenter {
    text-align: center;
}

.txtWrap .alignRight {
    margin: 1rem 0 0;
    text-align: right;
}

.txtWrap .alignRight h3 {
    width: 100%;
}

.txtWrap p.alignRight {
    left: auto;
    right: 0;
    transform: translate(0);
}

.txtWrap.fontBold h1,
.txtWrap.fontBold h3 {
    font-weight: bold;
}
.txtWrap.fontItalic h1,
.txtWrap.fontItalic h3 {
    font-style: italic;
}
.txtWrap.fontNormal h1,
.txtWrap.fontNormal h3 {
    font-weight: normal;
}

.txtWrap.red h1,
.txtWrap.red h3,
.txtWrap.red p {
    color: red;
}
.txtWrap.orange h1,
.txtWrap.orange h3,
.txtWrap.orange p {
    color: orange;
}
.txtWrap.yellow h1,
.txtWrap.yellow h3,
.txtWrap.yellow p {
    color: yellow;
}
.txtWrap.colorGreen h1,
.txtWrap.colorGreen h3,
.txtWrap.colorGreen p {
    color: green;
}
.txtWrap.colorBlue h1,
.txtWrap.colorBlue h3,
.txtWrap.colorBlue p {
    color: blue;
}
.txtWrap.colorPurple h1,
.txtWrap.colorPurple h3,
.txtWrap.colorPurple p {
    color: purple;
}
.txtWrap.colorWhite h1,
.txtWrap.colorWhite h3,
.txtWrap.colorWhite p {
    color: #fff;
}
.txtWrap.colorBlack h1,
.txtWrap.colorBlack h3,
.txtWrap.colorBlack p {
    color: #000;
}